@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

$linkColor: #2196f3;
$titleColor: #212121;
$mainTextColor: #fff;
$mainColorElement: #e1ff03;

// Default variable overrides
$body-bg: #000;
$body-color: #111;
