.about-us {
    margin-top: 150px;
    text-align: center;
    h2 {
        margin-bottom: 70px;
    }
}
.about-us-img{ 
    min-height: 650px; 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        position: absolute;
        border-radius: 10px;
    }
}
.list-advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.advantages {
    border-radius: 10px;
    border: solid #e1ff03 1px;
    width: 70%;
    padding: 10px 15px;
    -webkit-box-shadow: 7px 13px 35px -13px rgba(225,255,3,1);
    -moz-box-shadow: 7px 13px 35px -13px rgba(225,255,3,1);
    box-shadow: 7px 13px 35px -13px rgba(225,255,3,1);

    p {
        padding-top: 10px;
        font-size: 20px;
        
    }


}



@media (max-width: 1024px) {
    .about-us {
        margin-top: 50px;
    } 
  }

@media (max-width: 991px) {
    .about-us {
        margin-top: 50px;
    } 
}

@media (max-width: 576px) {
    .about-us-img {
        display: none;
    } 
    .list-advantages {
        max-width: 100%;
        width: 100%;
    }
    .advantages {
        margin-bottom: 15px;
        width: 90%;
    }
   
}