.collaboration {
    margin-top: 150px;
    text-align: center;
}
.collaboration-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
        font-size: 36px;
        margin-bottom: 70px;
    }
}

.collaboration-icon {
    width: 61px;
    height: 60px;
    fill: #e1ff03; 
}
.collaboration-wrapper {
    box-sizing: border-box;
    position: relative;
}
#canvas {
    width: 100%;
    display: block;
    left: 100px;
    position: absolute;
    top: 140px;
}

.collaboration-list {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 15px;
    width: 100%;
}
.collaboration-item {
    max-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    h3 {
        color: #e1ff03;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding-top: 60px;
    }
    p {
        margin-top: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        max-width: 122px;
    }
}
.collaboration-item:hover {
    transform: scale(1.1);
  }
.icon-wrapper {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #e1ff03 2px;
    border-radius: 50%;
    overflow: visible;
}



@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
 
  .collaboration-item:hover .collaboration-icon {
    transform-origin: center;
    animation: pulse 1s infinite; 
  }

  @media (max-width: 1024px) {
    .collaboration {
      margin-top: 50px;
    } 
    #canvas {
      width: 100%;
      display: block;
      left: 70px;
      position: absolute;
      top: 140px;
    }
  }

  @media(max-width: 960px){
    .collaboration-wrapper {
        display: none;
    }
  }

  @media (max-width: 991px) {
    .collaboration {
      margin-top: 50px;
    } 
    .collaboration-container {
      h2{
        margin-bottom: 20px;
      }
    }
    .collaboration-item {
      max-width: 45%;
      padding: 0;
      h3 {
        padding-top: 20px;
      }
    }
  }

  @media (max-width: 576px) {
    .collaboration-item {
      max-width: 45%;
      padding: 0;
      margin-bottom: 15px;
      h3 {
        padding-top: 20px;
      }
    }
   
}