.contact-form-section p {
  margin-bottom: 32px;
}
.contact-form-icon {
  width: 24px;
  height: 23px;
  fill: #e1ff03;
}
.button-link {
  font-size: 1.5rem;
}
.btn-primary {
  color: #000;
  padding: 16px 24px;
  background-color: #e1ff03;
  border: 2px solid #e1ff03;
}
.form {
  border-radius: 18px;
  box-shadow: 4px -4px 73px 2px rgba(225,255,3,0.65);
  -webkit-box-shadow: 4px -4px 73px 2px rgba(225,255,3,0.65);
  -moz-box-shadow: 4px -4px 73px 2px rgba(225,255,3,0.65);
}