.accordion-item {
  background-color: $titleColor;
}

.accordion-button:not(.collapsed) {
  background-color: $titleColor;
  color: $mainTextColor;
}

.accordion-button:hover,
.accordion-heabuttonder:focus {
  background-color: $mainColorElement;
  color: $body-color;
}
.faq-section {
  text-align: center;
}
.faq-title{
  margin-bottom: 50px;
}