.warehouse {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 150px;
    box-shadow: 4px -4px 73px 2px rgba(225,255,3,0.65);
    -webkit-box-shadow: 4px -4px 73px 2px rgba(225,255,3,0.65);
    -moz-box-shadow: 4px -4px 73px 2px rgba(225,255,3,0.65);
}

.warehouse-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    h2 {
        font-size: 36px;
        margin-bottom: 70px;
        margin-top: 80px;
    }
}

.address-map {
   text-align: left;
}

.warehouse-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    display: block;
    will-change: transform;
    border-radius: 9px;
}
.warehouse-map {
    width: 414px;
    height: 276px;
}
@media (max-width: 1024px){
  .warehouse-map {
    
    width: 100%;
    max-width: 214px; 
    }
}

@media (max-width: 768px) {
    .warehouse-container .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .warehouse-container {
        h2 {
            font-size: 36px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        padding-bottom: 50px;
        
    }
    
    .warehouse-map {
      margin-top: 20px;
      width: 100%;
      max-width: 414px; 
    }
  
    .warehouse-img {
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
      max-width: 414px;
    }
  
    .warehouse-img img {
        width: 100%;
        max-width: 414px;
        height: auto;
        border-radius: 9px;
    }
  
    .address-map h4 {
      text-align: center;
    }
    .phone-map {
      text-align: center;
    }
  }
  
  
  @media (max-width: 576px) {
    .section-title {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .warehouse-map iframe {
      width: 100%;
      height: 250px;
    }
  
    .address-map h4 {
      font-size: 1rem;
      text-align: center;
      
    }
    .phone-map {
      justify-content: center;
    }
  
    .button-link {
      font-size: 1rem;
    }
  }