.header-top {
  background-color: black;
  min-height: 98px;
  display: flex;
  align-items: center;
  position: relative;
}
.logo {
  justify-content: center;
}

.nav-contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-right: 16px;
}

.header-contact-icon {
  fill: $mainColorElement;
  border: 1px solid $mainColorElement;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 4px;
  
}
.social-icon {
  fill: $mainColorElement;
  border: 1px solid $mainColorElement;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 4px;
  color: $mainColorElement;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  gap: 20px;
  transition: all 500ms ease;
}
.social-icon:hover{
  background-color: $mainColorElement;
  color: black;
  fill: black;
}

.header-social-icon {
  fill: $mainColorElement;
  border: 1px solid $mainColorElement;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 4px;
  color: $mainColorElement;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  gap: 20px;
  transition: all 500ms ease;
}
.header-social-icon:hover{
  background-color: $mainColorElement;
  color: black;
  fill: black;
}
.nav-item-lg {
  display: flex;
  align-items: center;
}

.nav-item span {
  color: var(--bs-nav-link-color);
}
.navbar-nav {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
}
.secret {
  display: none;
}
@media (max-width: 1024px) {
  .header-top-phone {
    
  }
}
@media (max-width: 991px) {
  .secret {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .logo {
   align-items: start;
   justify-content: start; 
  }
  .header-top-phone {
    position: absolute;
    top: 65%;
    right: 15px;
  }
  .social-icon {
    display: none;
  }
  .header-button {
    display: none;
  }
    
  
  .navbar-nav {
    margin: auto;
  }
}