.header-top {
  background-color: black;
}
.nav-contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-right: 16px;
}

.header-contact-icon {
  fill: $mainColorElement;
  border: 1px solid $mainColorElement;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 4px;
  
}
.header-social-icon {
  fill: $mainColorElement;
  border: 1px solid $mainColorElement;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 4px;
  color: $mainColorElement;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  gap: 20px;
  transition: all 500ms ease;
}
.header-social-icon:hover{
  background-color: $mainColorElement;
  color: black;
  fill: black;
}
.nav-item-lg {
  display: flex;
  align-items: center;
}

.nav-item span {
  color: var(--bs-nav-link-color);
}
.navbar-nav {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1100px) {
  .header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-top .row {
    flex-direction: column;
    width: 100%;
  }

  .header-top .navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-top .navbar-brand img {
    margin-bottom: 10px;
  }

  .header-top-phone {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .social-icons {
    justify-content: center;
    margin-bottom: 20px;
  }

  .header-top .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .header-top .col-md-4, .col-md-2, .col-md-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}